.h2hai{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: aliceblue;
}

.parahai{
    color: aliceblue;
    text-align: center;
}